@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;

}

.logo{
  width:200px;
}
.nav-items ul {
  display: flex;
  list-style-type: none;
}

.nav-items ul li{
  font-size: 24px;
  font-display: bold;
  margin:10 px  ;
  padding: 20px;
}

.search{
  padding: 10px;
}

.res-cards{
  width: 400px;
  padding: 20px;
  margin: 30px;
  background-color: #f0f0f0;
}

.res-logo{
  width: 100%;
  
}

.res-cards:hover{
  border: 1px solid black;
  cursor: pointer;
}

.res-container{
  display: flex;
 flex-wrap: wrap;
}


.btn{
  margin: 10px;
  cursor: pointer;
}


.login-btn{
  padding: 0px 20px;
  margin: 5px;
  cursor: pointer;
}

.filter{
  display: flex;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 200px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #f0f0f0;
} */